.section {
    margin: 2rem 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    width: 80%;
    border-radius: 5px;
    margin: 1em 0;
    outline: none;
    font-family: inherit;
    padding: 10px 5px;
}

.form button {
    max-width: 20%;
}

.notification {
    display: none;
}

.comment {
    padding-bottom: 5px;
    border-bottom: .5px solid #ccc;
}