:root {
  --wood-color: #cd6133;
  --modal-bg: rgba(255, 255, 255, 0.8);
  --default-border-radius: 10px;
  --sky: #87C1E9;
  --grass: #89BA38;
  --layout-width: 600%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

#garden {
  display: flex;
  flex-direction: column;
  width: 16.67%;
}

#sky {
  height: 50vh;
  background-color: var(--sky);
  padding: 1em;
}

#ground {
  background-color: var(--grass);
  background-image: url('../public/images/grass.png');
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
}

.flex-horizontal {
  display: flex
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.default-border-radius {
  border-radius: var(--default-border-radius);
}

.text-center {
  text-align: center;
}

.grey-border-bottom {
  border-bottom: 1.5px solid #ccc;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */
