:root {
  --wood-color: #cd6133;
  --modal-bg: rgba(255, 255, 255, 0.8);
  --default-border-radius: 10px;
  --sky: #87C1E9;
  --grass: #89BA38;
  --layout-width: 600%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.garden-space {
  display: flex;
  flex-direction: column;
}

#sky {
  height: 50vh;
  background-color: var(--sky);
  padding: 1em;
}

#ground {
  background-color: var(--grass);
  background-image: url('../public/images/grass.png');
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  overflow-y: scroll;
}

.flex-horizontal {
  display: flex
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.grey-border-bottom {
  border-bottom: 1.5px solid #ccc;
}

.paragraph {
  background: var(--modal-bg);
  padding: 1.5rem;
  border-radius: var(--default-border-radius);
}

.position-element {
  position: absolute;
}

button {
  padding: 0.5rem;
  background: var(--sky);
  color: #fff;
  font-size: 15px;
  font-family: inherit;
  outline: none;
  border: 1px solid #fff;
  box-shadow: 1px 1px 1px pink;
  cursor: pointer;
  filter: brightness(1);
  border-radius: var(--default-border-radius);
}

button:hover {
  filter: brightness(0.95)
}

.page-element {
  position: absolute;
}
img.page-element {
  object-fit: scale-down;
}

.page-text {
  color: white;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */
