.cloud {
  position: absolute;
  width: 234px;
  /* height: 234px; */
  right: -224px;
  background-image: url('../public/images/cloud.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(0);
  animation-name: drift;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-play-state: running;

  display: flex;
  justify-content: center;
  padding: .5rem;
  background-position: center;
  align-items: center;

  cursor: pointer;
}

@keyframes drift {
	100% {
    	transform: translate(calc(-100vw - 200px));
	}
}