.tooltip {
    position: absolute;
    background: var(--modal-bg);
    margin-left: 1rem;
    padding: 1rem;
    border-radius: var(--default-border-radius);
    max-width: 250px;
    max-height: 300px;
}

.modal-image {
    padding: 1rem;
    width: calc(100% - 2rem);
    border-radius: 20px;
  }