.icon {
    position: fixed;
    border: 2px solid #fff;
    border-radius: 100%;
    padding: .5rem;
    color: white;
    cursor: pointer;
    font-size: 28px;
    /* box-shadow: 2px 2px 3px rgba(0,0,0,0.25); */
    z-index: 10;
    z-index: 9999;
    transition: ease;
}

.icon:hover {
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0.25);
}