.container {
    position: fixed;
    background-color: var(--sky);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    border: 2px solid #fff;
    border-radius: 10px;
    z-index: 9999;
}

.signpost {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
}

/* .signpost p {
    color: #fff;
    text-decoration: none;
    padding: 30px;
    text-align: center;
    background-size: contain;
    background-position: center;
    cursor: pointer;
} */

.sign {
    text-align: center;
    background-size: contain;
    background-position: center;
    cursor: pointer;

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign p {
    color: #fff;
    padding: 30px;
    margin: 0;
}

.signpost p:hover {
    font-weight: bold;
}

.facing-left {
    background-image: url('../public/images/sign/sign-left.png');
    background-repeat: no-repeat;
}

.facing-right {
    background-image: url('../public/images/sign/sign-right.png');
    background-repeat: no-repeat;
}

.sign-center {
    background-image: url('../public/images/sign/sign-centre.png');
    background-repeat: no-repeat;
}