.updates {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.update {
  margin: 1rem 2rem;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
  background-color: rgba(109, 148, 45, 0.15);
  height: fit-content;
  padding: 2rem 0;
}

.update:hover {
  background: rgb(222, 247, 214);
  color: #222;
  border-radius: 10px;
}

.update-image {
  border-radius: 100%;
  box-shadow: 4px 4px 4px rgba(0,0,0,50%);
}

.update-data {
  margin-top: 10px;
  text-align: center;
}

.update-data p {
  margin: 5px 0;
}

.update-data-project {
  color: #494e47;
  font-size: 14px;
}