.overlay {
    position: absolute;
    z-index: 1;
    background: var(--modal-bg);
    transform: translateY(10%);
    padding: 1.5rem;
    border-radius: var(--default-border-radius);
    height: 80%;
    width: 50%;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 8px 8px 2px #fecfcc;
}

.close {
    display: flex;
    justify-content: flex-end;
}

.close, .close a {
    color: red;
    cursor: pointer;
    text-decoration: none;
}