.idea-modal-overlay {
    position: absolute;
    z-index: 20;
    background: var(--modal-bg);
    transform: translateY(10%);
    padding: 1.5rem;
    border-radius: var(--default-border-radius);
    height: 80%;
    width: 50%;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: var(--modal-box-shadow);
}

.idea-overlay { 
    width: 30%;
    right: unset;
    margin-left: 1rem;
}

.idea-updates {

    h2 {
        font-size: 21px;
        color: #2f2e2e;
    }
    
    .idea-update {
        padding-top: .5rem;
        cursor: pointer;
    
        .header-section {
            display: flex;
            align-items: center;
    
            .heading {
                color: #666666;
            }
    
            .caret {
                padding-left: .25rem;
                margin-right: 1rem;
            }
    
            &:hover {
                background: rgb(254, 207, 204, 0.5);;
            }
        }
    
        .body-section {
            width: 90%;
            margin-left: 5%;
            padding: 2rem 1rem 0 0;

            div p {
                text-align: justify;
                line-height: 1.5;
            }

            .sharer {
                padding-left: 1rem;
            }
        }
    }
}

.idea-overlay-description {
    text-align: left;
    padding: 1.5rem 0;
}

.idea-overlay-heading {
    text-align: left;
    padding: 1.5rem 0;
}

.close {
    display: flex;
    justify-content: flex-end;
    /* position: absolute;
    top: 10px;
    right: 10px; */
}

.close, .close a {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.tag {
    padding: 0.5em;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 20px;
    margin: 0;
}

.portfolio-list-item {
    display: flex;
    align-items: center;
    border: .5px solid grey;
    border-left: none;
    border-right: none;
    padding: 10px 10px 20px 10px;
}

.portfolio-list-item img {
    margin-right: 2.5rem;
    object-fit: contain;
}

.portfolio-list-item-data {
    display: flex;
    height: 130px; /* matches image height set in component file */
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-list-item-data h4 {
    margin: 0;
}

.portfolio-list-metadata p {
    font-size: 15px;
    margin: 0;
    color: #5f5f5f;
}